.hero_link {
    position: relative;
    
}

.hero_link:before {
    content:'';
	position: absolute;
	top: -10px;
	left: 0;
	width: 0;
    height: 46px;
	background: rgba(115, 122, 228, 0.3);
	border-radius: 5px;
	transition: all 1s ease;
    border-radius: 100px;
    pointer-events: none;
}

.hero_link:hover:before {
    width: 100%;
}

@media (max-width: 360px) {
    .hero_link:before {
        top: -8px;
        height: 42px;
    }
}