.input {
    width: 100%;
    height: 48px;
    background-color: white;
    border: 1px solid #DFDFDF;
    border-radius: 12px;
    padding-left: 16px;
    font-size: 16px;
}

.input::placeholder {
    color: #4D4D4D;
}

.textarea {
    width: 100%;
    height: 151px;
    background-color: white;
    border: 1px solid #DFDFDF;
    border-radius: 12px;
    padding-left: 16px;
    padding-top: 12px;
    font-size: 16px;
}

.textarea::placeholder {
    color: #4D4D4D;
}

.errors {
    border: 1px solid #FF4A4A;
}