.card1{
    background-image: url('../../../img/advantages/adv1.webp');
    background-repeat: no-repeat;
    background-size: 282px 282px;
    background-position: right;
}

.card2{
    background-image: url('../../../img/advantages/adv2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 40px top 130px;
}

.card3{
    background-image: url('../../../img/advantages/adv3.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 205px top 130px;
}

@media (max-width: 910px) {
    .card1, .card2,.card3{
        background-size: contain;
        background-position: left -webkit-calc(100% + 40px) bottom -30px;
    }
}